@font-face {
    font-family: PlaywriteIN;
    src: url(PlaywriteIN-Regular.ttf);
}

body{
    display: flex;
    align-items: center;
    background-color: #ADD8E6;
    font-family: PlaywriteIN;
    flex-direction: column;
    gap: 20px;
}


.container{
    display: flex;
    /* color: */
    height: 734px;
    width: 457px;
    background-color: #1a2226;
    flex-direction: column;
    flex: 1;
    border: 12px solid bisque;
    box-shadow: 0 0 30px darksalmon;
    border-radius: 5%;
}

.heading h1{
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 35px;
}

.header{
    margin-top: 20px;
    margin-left: 8px;
    display: flex;
    font-size: 30px;
    color: aqua;
    font-family: sans-serif;
    justify-content: center;
}


.buttons{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-around;
}

.hook{
    height: 95px;
    width: 120px;
    font-size: 20px;
    background-color: #363e3f;
    color: white;
}

.dark{
    background-color: #2d3437;
    color: white;
}

.hook:hover{
    background-color: #2d3437;
}

.dark:hover{
    background-color: #363e3f;
}

.equal{
    background-color: #62bcea;
    color: black;
}

.equal:hover{
    background-color:#7acaf2;
}

.after-equal, .before-equal{
    color: white;
    margin: 40px;
    display: flex;
    justify-content: flex-end;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.after-equal{
    font-size: 34px;
    margin-bottom: 15px;
}

.before-equal{
    color: #a3a7a8;
    font-size: 28px;
    margin-bottom: 10px;
}
.first-row, .second-row, .third-row, .fourth-row, .fifth-row, .sixth-row{
    display: flex;
    flex: 1 1 auto;

}


.sixth-row{
    margin-bottom: 0px;
}

.history{
    background-color: transparent;
    border: none;
    cursor: pointer;
}